.HomeWrapper {
  &__form {
    width : 30rem;
    height : 25rem;
    background-color: var(--primary);
    border-radius: 1rem;
    margin-top : 2rem;
    
    @media screen and (orientation: portrait) and (max-width: 600px) {
      width : 90vw;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding : 3rem;

    @mixin separate() {
      margin-top : 1rem;
      margin-bottom: 1rem;
    }

    &__label {
      font-size : 1.8rem;
      @include separate();
    }

    &__input {
      @include separate();
      font-size : 1.5rem;
    }

    &__input::file-selector-button {
      cursor: pointer;
      color: var(--text);
      background-color: var(--secondary);
      border: none;
      padding : 1rem;
      font-size : 1.3rem;
      border-radius: .5rem;
      margin-right : 1rem;
    }

    &__button {
      @include separate();
    }
  }
}