.HomeWrapper {
  &__form {
    width : 30rem;
    height : 25rem;
    background-color: var(--primary);
    border-radius: 1rem;
    margin-top : 2rem;
    animation: appear2 500ms;
    
    @media screen and (orientation: portrait) and (max-width: 600px) {
      width : 90vw;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding : 3rem;

    @mixin separate() {
      margin-top : 1rem;
      margin-bottom: 1rem;
    }

    @mixin btn($padding,$font) {
      cursor: pointer;
      color: var(--text);
      background-color: var(--secondary);
      border: none;
      padding : $padding;
      font-size : $font;
      border-radius: .5rem;
      margin-right : 1rem;
      transition: background-color 250ms;
      will-change: background-color;
    }

    @mixin btnHover() {
      background-color: #059a4e;
    }

    &__label {
      font-size : 1.8rem;
      @include separate();
    }

    &__input {
      @include separate();
      font-size : 1.5rem;
    }

    &__input::file-selector-button {
      @include btn(1rem,1.3rem);
    }

    &__input::file-selector-button:hover {
      @include btnHover();
    }

    &__button {
      @include separate();
      @include btn(0.75rem, 1.25rem);
    }

    &__button:hover {
      @include btnHover();
    }
  }
}

@keyframes appear2 {
  0% {
    transform: translateX(-150px);
    opacity : 0;
  }

  50% {
    transform: translateX(-150px);
    opacity : 0;
  }

  100% {
    transform: translateX(0px);
    opacity : 1;
  }
}